#theoryContainer {
  background: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  height: 825px;
  margin: 0 20px;
}

p {
  color: #224;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  margin: 10px 33px 10px 10px;
  line-height: 1.45;
}

.outlineGreen,
.outlineRed,
.outlineYellow,
.outlineBlue {
  border-radius: 2px;
  outline-offset: -2px;
  outline-style: dashed;
  outline-width: 2px;
  padding: 0px 4px;
}

.outlineBlue {
  outline-color: #77f;
}

.outlineGreen {
  outline-color: #7f7;
}

.outlineRed {
  outline-color: #f77;
}

.outlineYellow {
  outline-color: #fd7;
}

.imageContainerSingle,
.imageContainerDouble {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 56px 33px 33px;
}

.gameContainerDouble {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 56px 33px 33px;
}

.imageContainerSingle > div {
  width: 75%;
}

.imageContainerDouble > div {
  width: 50%;
}

.gameContainerDouble > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.imageContainerSingle > div > svg,
.imageContainerDouble > div > svg,
.gameContainerDouble > div > svg {
  width: 100%;
}

.imageDescription {
  font-size: 1rem;
  margin: 4px 0 0;
  text-align: center;
}

.monospaced {
  color: #224;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  font-variant-ligatures: contextual;
  font-weight: 500;
  line-height: 1.45;
}

div.monospaced {
  margin: 10px 56px 10px 33px;
  white-space: pre-wrap;
}

span.monospaced {
  background-color: #eee;
  border-radius: 4px;
  padding: 0px 4px;
}

u {
  text-decoration-color: #77f;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.functionContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.functionValues {
  line-height: 2.1;
}

.vertical {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.settingsText {
  font-family: "Trap", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration-color: #f77;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
