.practiceContainer {
  background: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  height: calc(100vh - 152px);
  margin: 20px 20px 24px;
  min-height: 238px;
  overflow: hidden;
}

.practiceContainer > .tree {
  float: left;
  margin-left: 20px;
  width: calc(50% - 20px);
}

.practiceContainer > .codeLabel {
  margin: -46px 0 0 50%;
}

.game,
.gameComplete,
.gameReset {
  float: left;
  margin: 0 20px 20px;
  width: 377.2px;
}

.game {
  cursor: pointer;
}

.lineX {
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-name: draw;
  animation-timing-function: linear;
  stroke-dasharray: 50%;
  stroke-dashoffset: 50%;
}

.pathO {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: draw;
  animation-timing-function: linear;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.circle0 {
  animation-duration: 0.125s;
  animation-fill-mode: forwards;
  animation-name: fall0;
  animation-timing-function: linear;
}

.circle1 {
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-name: fall1;
  animation-timing-function: linear;
}

.circle2 {
  animation-duration: 0.375s;
  animation-fill-mode: forwards;
  animation-name: fall2;
  animation-timing-function: linear;
}

.circle3 {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: fall3;
  animation-timing-function: linear;
}

.circle4 {
  animation-duration: 0.625s;
  animation-fill-mode: forwards;
  animation-name: fall4;
  animation-timing-function: linear;
}

.circle5 {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-name: fall5;
  animation-timing-function: linear;
}

@keyframes fall0 {
  from {
    transform: translate3d(0, -38px, 0);
  }
}

@keyframes fall1 {
  from {
    transform: translate3d(0, -76px, 0);
  }
}

@keyframes fall2 {
  from {
    transform: translate3d(0, -114px, 0);
  }
}

@keyframes fall3 {
  from {
    transform: translate3d(0, -152px, 0);
  }
}

@keyframes fall4 {
  from {
    transform: translate3d(0, -190px, 0);
  }
}

@keyframes fall5 {
  from {
    transform: translate3d(0, -228px, 0);
  }
}

.gameComplete > g {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: decreaseOpacity1;
  animation-timing-function: linear;
}

.gameComplete > .resultText {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.gameReset > g {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: decreaseOpacity2;
  animation-timing-function: linear;
}

.gameReset > .board {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: increaseOpacity1;
  animation-timing-function: linear;
}

.gameReset > .resultText {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadeOut;
  animation-timing-function: linear;
}

@keyframes increaseOpacity1 {
  from {
    opacity: 0.5;
  }
}

@keyframes increaseOpacity2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes decreaseOpacity1 {
  to {
    opacity: 0.5;
  }
}

@keyframes decreaseOpacity2 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.gameContainer {
  display: flex;
  margin: 20px 20px 24px;
}

.gameContainerChild {
  background: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  box-shadow: #ddd 8px 8px 0 -4px, #224 8px 8px;
  margin: 0 28px 8px 0;
  max-height: 467px;
}

.gameTree {
  background: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  box-shadow: #ddd 8px 8px 0 -4px, #224 8px 8px;
  flex-basis: 100%;
  margin: 0 8px 8px 0;
  max-height: 467px;
}

.offlineText,
.turnIndicator.fadeIn {
  animation-duration: 0.3125s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-timing-function: cubic-bezier(0, 0.7, 1, 1);
}

.turnIndicator.fadeOut {
  animation-duration: 0.3125s;
  animation-fill-mode: forwards;
  animation-name: fadeOut;
  animation-timing-function: cubic-bezier(0.7, 0, 1, 1);
}

.turnIndicator.offline {
  opacity: 0;
}

.loadingIndicator.fadeOut {
  opacity: 0;
  transition: all 0.2s;
}

.loadingIndicator.fadeIn {
  opacity: 1;
  transition: all 0.2s;
}

#indicatorElement1 {
  animation: changeOpacity 1s infinite;
}

#indicatorElement2 {
  animation: changeOpacity 1s infinite;
  animation-delay: 0.2s;
}

#indicatorElement3 {
  animation: changeOpacity 1s infinite;
  animation-delay: 0.4s;
}

#indicatorElement4 {
  animation: changeOpacity 1s infinite;
  animation-delay: 0.6s;
}

.offline > #indicatorElement1,
.offline > #indicatorElement2,
.offline > #indicatorElement3,
.offline > #indicatorElement4 {
  animation: none;
  opacity: 0;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
