.theoryButtons {
  display: flex;
  margin: 0 20px;
  position: relative;
  width: 604px;
  z-index: 1;
}

.theoryButton {
  background: #fff;
  border: 4px solid #224;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #224;
  cursor: pointer;
  flex: 1 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 1.09rem;
  font-weight: 700;
  height: 45px;
  margin-bottom: -4px;
  margin-left: 0;
  margin-right: 4px;
  padding: 4px 9px;
  text-decoration-color: #fff;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  transition: background 0.15s ease-in-out,
    text-decoration-color 0.15s ease-in-out;
}

#buttonHeuristics {
  margin-right: 0;
}

.theoryButton:hover {
  background: #fee;
  text-decoration-color: #f77;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.theoryButton.active {
  background: #eef;
  border-bottom: 0;
  padding: 4px 9px 8px;
  text-decoration-color: #77f;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.practiceButtons {
  display: flex;
  margin: 0 0 0 20px;
}

.practiceButton {
  background-color: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  box-shadow: #ddd 8px 8px 0 -4px, #224 8px 8px;
  cursor: pointer;
  flex: none;
  height: 180px;
  margin: 0 28px 8px 0;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  width: 180px;
}

.practiceButton:hover {
  box-shadow: #fbb 12px 12px 0 -4px, #224 12px 12px;
  transform: translate3d(-4px, -4px, 0);
  transition: 0.2s;
}

.practiceButton.active {
  box-shadow: #bbf 12px 12px 0 -4px, #224 12px 12px;
  transform: translate3d(-4px, -4px, 0);
  transition: 0.2s;
}

.practiceButton > svg,
.randomizeButton > svg,
.treePracticeButton > svg {
  vertical-align: middle;
}

.randomizeButton {
  align-self: center;
  background-color: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  box-shadow: #ddd 8px 8px 0 -4px, #224 8px 8px;
  cursor: pointer;
  height: 60px;
  margin-top: 20px;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  width: 60px;
}

.randomizeButton:hover {
  box-shadow: #fbb 10px 10px 0 -4px, #224 10px 10px;
  transform: translate3d(-2px, -2px, 0);
  transition: 0.2s;
}

.treePracticeButton {
  align-self: center;
  background-color: #fff;
  border: 4px solid #224;
  border-radius: 4px;
  cursor: pointer;
  height: 60px;
  margin: 10px 5px 0;
  width: 60px;
  transition: background 0.15s ease-in-out,
    text-decoration-color 0.15s ease-in-out;
}

.treePracticeButton:hover {
  background: #eef;
}

.treePracticeButton:disabled {
  background: #fee;
}

.treePracticeButton > svg > path {
  stroke: #224;
  transition: stroke 0.15s ease-in-out;
}

.treePracticeButton:hover > svg > path {
  stroke: #77f;
}

.treePracticeButton:disabled > svg > path {
  stroke: #f77;
}
