h1 {
  color: #224;
  font-family: "Trap", sans-serif;
  font-size: 3.3rem;
  font-weight: 400;
  margin: 20px;
  text-decoration-color: #77f;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h2 {
  color: #224;
  font-family: "Trap", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 10px;
  text-align: center;
  text-decoration-color: #f77;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h3 {
  color: #224;
  font-family: "Trap", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 20px;
  text-decoration-color: #77f;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h4 {
  color: #224;
  font-family: "Trap", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration-color: #7f7;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

text {
  stroke-linejoin: round;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
